* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --Pixel-White: #dbdbdb;
  --black: black;
  --black-0: #00000080;
  --black-1: #0000001a;
  --white: #fff;
  --Dreamy-Cloud: #e5e7eb;
  --Glistening-Grey: #b1b5bb;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
.personal_information .container {
  padding-top: 50px;
}
.personal_information .container h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.personal_information .container form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 470px));
  gap: 40px;
  padding-top: 50px;
}
.personal_information .container form label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
}
.personal_information .container form input {
  border: 1px solid var(--black-1);
  border-radius: 6px;
  outline: none;
  width: 100%;
  padding: 10px;
}
.personal_information .container form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.personal_information .container .checked_gender {
  padding-top: 40px;
}
.personal_information .container .checked_gender span {
  font-style: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.personal_information .container .checked_gender input {
  appearance: none;
  margin: 15px 0;
}
.personal_information .container .checked_gender label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--black-1);
  border-radius: 6px;
  padding: 8px;
}
.personal_information .container .sumbit {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.personal_information .container .sumbit input {
  background-color: var(--black);
  color: var(--white);
  width: 240px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
}
.personal_information .container .checked_gender input {
  appearance: none;
  margin: 15px 0;
}
.courses_selection .container .courses_name .lable_courses label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--black-1);
  border-radius: 6px;
  padding: 8px;
}
.courses_selection .container {
  padding-top: 100px;
}
.courses_selection .container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.courses_name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}
.courses_selection .container .courses_name span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.courses_selection .container .courses_name input {
  appearance: none;
  margin: 15px 0;
}
.courses_selection .container .time input {
  appearance: none;
  margin: 15px 0;
}
.courses_selection .container .courses_name .input_course label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.courses_selection .container .courses_name .input_course input {
  display: block;
  border: none;
  border-radius: 6px;
  border: 1px solid var(--black-1);
  width: 400px;
  padding: 8px 12px;
}
.courses_selection .container .courses_name .input_course input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.name label input {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--black-1);
  border-radius: 6px;
  padding: 8px;
}
.time label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--black-1);
  border-radius: 6px;
  padding: 8px;
}
.back_next {
  text-align: center;
  padding-top: 50px;
}
.back_next input {
  border: 1px solid var(--black);
  background-color: var(--white);
  width: 240px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 12px;
  margin-left: 5px;
}
.back_next .next {
  background-color: var(--black);
  color: var(--white);
}
.payment_details .container {
  padding-top: 80px;
}
.payment_details .container h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.payment_details .container form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 470px));
  gap: 40px;
  padding-top: 50px;
}
.payment_details .container form label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
}
.payment_details .container form input {
  border: 1px solid var(--black-1);
  border-radius: 6px;
  outline: none;
  width: 100%;
  padding: 10px;
}
.payment_details .container form input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.account_setup .container {
  padding-top: 70px;
}
.account_setup .container h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.account_setup .container .information {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 40px;
}
.account_setup .container .information .info_name {
  width: 40%;
}
.account_setup .container .information .info_name label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 15px 0;
}
.account_setup .container .information .info_name input {
  display: block;
  border: 1px solid var(--black-1);
  border-radius: 6px;
  outline: none;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.account_setup .container .information .password {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.account_setup .container .information .password label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
}
.account_setup .container .information .password input[type="password"] {
  display: block;
  border: 1px solid var(--black-1);
  border-radius: 6px;
  outline: none;
  width: 100%;
  padding: 10px;
}
.account_setup .container .lable span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 8px;
}
.account_setup .container .information .password .lable {
  padding-top: 20px;
}
.account_setup .container .password input {
  appearance: none;
}
.account_setup .container .password .lable label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--black-1);
  border-radius: 6px;
  padding: 8px;
}
