* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --Pixel-White: #dbdbdb;
  --black: black;
  --black-0: #00000080;
  --black-1: #0000001a;
  --white: #fff;
  --Dreamy-Cloud: #e5e7eb;
  --Glistening-Grey: #b1b5bb;
}
body {
  font-family: "Roboto", sans-serif;
}
.courses_selection .container {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.courses_selection .container .info {
  padding: 0 25px;
}
.courses_selection .container .info h1 {
  font-size: 40px;
  font-weight: 700;
}
.courses_selection .container .info p {
  font-size: 16px;
  font-weight: 400;
}