* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --black: black;
  --black-0: #00000080;
  --black-1: #0000001a;
  --white: #fff;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
.hero {
  height: 45vh;
  width: 100%;
  background-image: url(../images/Courses_Page/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .container {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .container h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  padding-bottom: 30px;
}
.hero .container p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: var(--white);
  padding-bottom: 30px;
}
.hero .container input {
  border: none;
  outline: none;
  border-radius: 6px;
  width: 360px;
  padding: 10px;
}
.hero .container input::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.hero .container .submit {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
  color: var(--white);
  width: 240px;
  padding: 12px;
  margin-top: 25px;
}
.explore_courses .container {
  padding-top: 40px;
}
.explore_courses .container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.explore_courses .container .instructores {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 40px;
}
.explore_courses .container .instructores .instructor {
  border: 1px solid var(--black-1);
  border-radius: 6px;
  overflow: hidden;
  width: 340px;
}
.explore_courses .container .instructores .instructor img {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.explore_courses .container .instructores .instructor span {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.explore_courses .container .instructores .instructor h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.explore_courses .container .instructores figure {
  border: 1px solid var(--black-1);
  border-radius: 6px;
  overflow: hidden;
}
.explore_courses .container .instructores figure img {
  width: 100%;
}
.explore_courses .container .instructores figure figcaption span {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.explore_courses .container .instructores figure figcaption h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.course_details .container {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
}
.course_details h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.course_details .container span {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.course_details .container .caption p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  padding: 10px;
}
.course_details .container .program_language {
  width: 50%;
}
.course_details .container .program_language .languge,
.languge_2 {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--black-1);
  border-radius: 6px;
  overflow: hidden;
  padding: 15px;
  margin: 15px;
}
.course_details .container .program_language .languge .image_languge img {
  width: 120px;
}
.languge_2 img {
  width: 120px;
}
.languge_2 {
  width: 100%;
  margin-top: 0;
}
.languge_2 .caption {
  padding-top: 30px;
}
.course_details .container .program_language .languge .caption {
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .course_details .container .program_language .languge,
  .languge_2 {
    justify-content: center;
    text-align: center;
  }
}
