* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --Pixel-White: #dbdbdb;
  --black: black;
  --black-0: #00000080;
  --black-1: #0000001a;
  --white: #fff;
  --Boyzone: #2d8dd5;
  --Dreamy-Cloud: #e5e7eb;
  --Glistening-Grey: #b1b5bb;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
.hero {
  background-image: url(../images/hero.png);
  height: calc(100vh - 104px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: calc(100vh - 104px);
}
.hero .container h1 {
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.hero .container .link_hero {
  padding: 20px 0 50px 0;
  margin-top: 10px;
}
.hero .container .link_hero a {
  font-size: 17px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  background-color: var(--white);
  border-radius: 50px;
  margin-right: 20px;
  padding: 15px;
  box-shadow: 0px 6px 13px 0px var(--black-1);
}
.about .container .banner img {
  width: 100%;
  margin-top: 60px;
  border-radius: 50px;
  box-shadow: 10px 15px 39px 0px var(--black-1);
}
.about .container .about_us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
.about .container .about_us .services {
  background-color: var(--Pixel-White);
  text-align: center;
  border-radius: 50px;
  box-shadow: -1px 14px 31px 0px var(--black-1);
  width: 300px;
  height: 250px;
  padding: 30px;
  margin: 20px;
}
.about .container .about_us .services h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}
.about .container .about_us .services p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  padding-top: 20px;
}
.our_learners_work .container {
  text-align: center;
  padding-top: 100px;
}
.our_learners_work .container h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Poppins", serif;
}
.our_learners_work .container img {
  width: 240px;
  margin: 20px;
}
footer {
  padding-top: 100px;
}
footer .container .products {
  display: flex;
  justify-content: space-between;
}
footer .container .products .product {
  padding: 20px;
}
footer .container .products .product h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-bottom: 15px;
}
footer .container .products .product a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  padding-top: 15px;
}
footer .container .products .subscribe {
  padding-top: 20px;
}
footer .container .products .subscribe h3 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
footer .container .products .subscribe p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 18.7px;
  padding-top: 30px;
}
footer .container .products .subscribe input {
  padding: 15px;
  border: none;
  outline: none;
  background-color: var(--Dreamy-Cloud);
  margin-top: 30px;
  width: 300px;
}
footer .container .products .subscribe input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
footer .container .products .subscribe .submit {
  background-color: var(--Boyzone);
  color: var(--white);
  border: 1px solid var(--black);
  border-radius: 50px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  width: 120px;
  margin-left: 10px;
}
footer .container .copyright {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 20px 0;
}
footer .container .copyright p {
  font-size: 12px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
footer .container .copyright img {
  margin-right: 25px;
}
