* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
:root {
  --Pixel-White: #dbdbdb;
  --black-0: #00000080;
  --black-1:#0000001A;
  --white:#fff;
  --Boyzone: #2d8dd5;
  --Dreamy-Cloud:#E5E7EB;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
img {
  width: 100%;
}
